.contentContainer {
    padding-left: 10px;
    overflow-y: auto;
}

.div {
    margin-top:10px;
}

.deleteButton {
    margin-left: 10px;
}

.input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 4px;
    padding-right: 10px;
    text-align: left;
    font-weight: normal;
}

.th1 {
    margin-left: 10px;
    width:80%;
}

.listItem:hover{
    background:  rgba(0, 0, 0, 0.15);
}

.saveButton {
    right: 15px;
    width: 30%;
    bottom: 30px;
    position: absolute;
}

.th{
    bottom: 30px;
    position: absolute;
    width: 60%;
    .feedbackText1 {
        color: green;
    }

    .feedbackText2 {
        color: red;
    }
}

.rowPadding{
    padding-right:15px;
}