.contentContainer {
    padding-left: 10px;
    overflow-y: auto;
}

.div {
    margin-top:10px;
}

.deleteButton {
    margin-left: 10px;
}

.input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 4px;
    padding-right: 10px;
    text-align: left;
    font-weight: normal;
}

.th1 {
    width:90%;
}
.saveButton {
    margin-left: auto;
    margin-right: 10px;
    width: 30%;
}

.th{
width: 90%;
    .feedbackText1 {
        color: green;
    }

    .feedbackText2 {
        color: red;
    }
}