.label {
    font-size: 0.85714rem;
    line-height: 1.14286rem;
    color: #1a1c21;
    font-weight: 600;
}

.addButton {
    text-decoration: underline;
    margin-top: 5px;
}

.input {
    border: none;
    
    &, &:focus-visible, &:focus {
        outline: none;
        box-shadow: none;
    }
}

.radio {
    padding: 5px !important;
}