.container { 
    width: 100%;
    display: flex;
    justify-content: center;

    .questionList {
        margin: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 50%;

        .question {
            position: relative;
            hr {
                margin: 14px 0;
            }
            &:last-child hr {
                display: none;
            }

            .editButton {
                position: absolute;
                top: 0;
                left: -75px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                padding: 5px;
                cursor: pointer;
            }
        }
    }
    
}
.fullScreen {
    display: none;
}