.container { 
    width: 100%;
    display: flex;
    justify-content: center;

    &.fillingMode .questionList {
        width: 100%;
    }

    .questionList {
        margin: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 50%;

        .question {
            position: relative;
            hr {
                margin: 14px 0;
            }
            &:last-child hr {
                display: none;
            }

            .editButton {
                position: absolute;
                top: 0;
                left: -75px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                padding: 5px;
                cursor: pointer;
            }

            .deleteButton {
                position: absolute;
                top: 35px;
                left: -75px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                padding: 5px;
                cursor: pointer;
            }
        }
    }
    
    .submitButton {
        width: 300px;
        margin-left: auto;
    }

    .countdown {
        right: 10px;
        top: 10px;
        position: fixed;
        padding: 10px;
        z-index: 10000;
    }
}

.finishModal {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fullScreen {
    display: none;
}