.header {
    box-shadow: 0px 0.9px 4px -1px rgba(0, 0, 0, 0.08), 0px 2.6px 8px -1px rgba(0, 0, 0, 0.06), 0px 5.7px 12px -1px rgba(0, 0, 0, 0.05), 0px 15px 15px -1px rgba(0, 0, 0, 0.04);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  
    .settingsIcon {
      margin-left: 10px;
    }
}
.card{
    width: 460px;
    display: flex;
    justify-content: center;
    align-items: left;
    font-size: 20px;
    font-weight: bold;

	.returnToFlow{
		padding: 14px;
		margin: 14px;
  }
  
  .titleTextField{
		margin: 14px;
  }
}

.container {
    padding: 14px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    .list {
      	flex-grow: 1;
    }
}
  
.content {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 60px);
  
    .addFormButton {
		min-width: 320px;
		width: 15%;
		padding: 16px;
		border: 1px dashed black;
		border-radius: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		
		.text {      
			font-size: 20px;
			font-weight: bold;
		}
	}
}
  
.rightPanel {
	padding: 4px 0;
	.title {
		margin-left: 14px;
		font-size: 20px;
		font-weight: 600;
	}

	hr {
		margin: 14px;
	}
}