.returnToFlow{
  padding: 14px;
  margin: 14px;
  position: absolute;
  float: right;
  right: 25%;
  bottom: 0;
}

.container {
    padding: 14px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
    .list {
      	flex-grow: 1;
    }
}
  
.content {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 60px);
    overflow: auto;
  
    .addFormButton {
		min-width: 320px;
		width: 15%;
		padding: 16px;
		border: 1px dashed black;
		border-radius: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		
		.text {      
			font-size: 20px;
			font-weight: bold;
		}
	}
}
  
.rightPanel {
	padding: 4px 0;
	.title {
		margin-left: 14px;
		font-size: 20px;
		font-weight: 600;
	}

	hr {
		margin: 14px;
	}
}