.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5vw;
}
 
.content {
  flex: 1;
  display: flex;
}

.description {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.illustration {
  flex: 1;
  position: relative;
  margin: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 10px;
}

.banner {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}