.container {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .startButton {
        margin-top: 20px;
    }

    .errorText {
        margin-top: 10px;
        color: red;
        bottom: 10px;
        left: 0;
        right: 0;
        height: 24px;
    }
}