@import '../../../styles/global.scss';

.container{
    width: 420px;
    cursor: pointer;
    .card {
        border-top-width: 10px;
        border-top-style: solid;
        &.form {
            border-top-color: $formColor;
        }
        &.test {
            border-top-color: $testColor;
        }
        &.interview {
            border-top-color: $interviewColor;
        }
    }
    position: relative;

    .builderIcon {
        position: absolute;
        top: 10px;
        right: -40px;
        height: 30px;
        width: 30px;
    }
    .deleteIcon {
        position: absolute;
        top: 40px;
        right: -40px;
        height: 30px;
        width: 30px;
    }
}