.container{
    width: 420px;
    cursor: pointer;
    .card {
        border-top-width: 10px;
        border-top-style: solid;
        &.form {
            border-top-color: blue;
        }
        &.test {
            border-top-color: green;
        }
        &.interview {
            border-top-color: red;
        }
    }
}