.label {
    font-size: 1.2rem;
    line-height: 1.14286rem;
    color: #1a1c21;
    font-weight: 600;
    margin-bottom: 10px;
}

.label2 {
    font-size: 0.85rem;
    line-height: 1.14286rem;
    color: #1a1c21;
    font-weight: 600;
}

.addButton {
    text-decoration: underline;
    margin-top: 5px;
}

.input {
    height: 50px;
}