.leftPanel {
  padding: 4px 0;
  overflow-y: auto;
  .title {
  margin-left: 14px;
  font-size: 20px;
  font-weight: 600;
  }

  hr {
      margin-top: 14px;
  }

  .item {
    height: 41px;
  }
  
}

.openButton {
  position: absolute;
  top: 150px;
}