.mainContainer{
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: calc(100%);
    
    .disableDiv{
        background-color: lightgray;
        z-index: 10;
        position: absolute;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
        opacity: 0.8;
        overflow-y: hidden;
        .container{
            width: 500px;
            .card {
                border-color: red;
                z-index: 10;
                position: relative;
            }
            position: relative;
        }
    }

}
