.filterRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 31px;
    & > div {
        height: unset;
    }
}

.header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    
    & > *:not(:first-child) {
        margin-left: 10px;
    }
}

.pagination {
    & > * {
        min-height: 30px;
    }
}

.bodyCell {
    cursor: pointer;
    &.focused::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #00bcd4;
    }
}