.filterRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 31px;
    & > div {
        height: unset;
    }
}

.header {
    margin-bottom: 10px;
    
    & > *:not(:first-child) {
        margin-left: 10px;
    }
}