.label {
    font-size: 0.85rem;
    line-height: 1.14rem;
    color: #1a1c21;
    font-weight: 600;
}

.sublabel {
    margin-top: 5px;
    font-size: 0.75rem;
    line-height: 1.14286rem;
    color: #1a1c21;
    font-weight: 600;
    display: flex;

    & > * {
        flex: 1;

        &:last-child {
            flex: 0.85;
        }
    }
}

.addButton {
    text-decoration: underline;
    margin-top: 5px;
}

.singleCase {
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
        margin-bottom: 10px;
    }

    & > div {
        flex: 1;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &.pointInput {
            flex: 0.5
        }
    }
}